.hom {
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  height: 6px;
  justify-content: space-around;
  background: var(--clr-grey-5);
  transition: var(--transition);
}
.home-btn {
  height: 30px;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-grey-5);

  opacity: 0;
  cursor: pointer;
  margin-top: 10px;
  transition: var(--transition);
}
a {
  color: var(--clr-black);
  /* opacity: 0; */
}
.hom:hover {
  color: white;
  opacity: 1;
  height: 50px;
  cursor: pointer;
}
.hom:hover .home-btn {
  opacity: 1;
}
.home-btn:hover {
  color: white;
  opacity: 1;
  background: var(--clr-primary-2);
  height: 30px;
  box-shadow: 0 0 15px 0;
}
a:hover {
  color: white;
  opacity: 1;
}
